<script lang="ts" setup>
useSeoMeta({
  title: "Leonardo Campo - Full-Stack Developer",
  ogTitle: "Leonardo Campo - Full-Stack Developer",
  description: `¡Hola! Soy Leonardo Campo un apasionado desarrollador Full-Stack con 
  más 12 años de experiencia en el desarrollo de proyectos de software
  modernos y escalables. He liderado equipos y contribuído al éxito de
  diversos proyectos.`,
  ogDescription: `¡Hola! Soy Leonardo Campo un apasionado desarrollador Full-Stack con 
  más 12 años de experiencia en el desarrollo de proyectos de software
  modernos y escalables. He liderado equipos y contribuído al éxito de
  diversos proyectos.`,
  ogImage: "/img/photo_mQy8C7Qocg.jpg",
});
</script>

<template lang="pug">
NuxtLayout
</template>
