<script lang="ts" setup>
// properties
defineProps(["data"]);
</script>

<template lang="pug">
//- profile data
v-col.text-center.text-sm-left(
  cols="12"
  sm="6"
  lg="5"
  :order="$vuetify.display.smAndUp ? 1 : 2")
  .text-subtitle-2 {{ data.title }}
  .text-h4.text-md-h3 {{ data.fullname }}
  .mt-3
    //- social data
    v-btn.mx-1.mr-sm-2(
      v-for="social in data.social"
      color="primary"
      :icon="social.icon"
      :href="social.url"
      target="_blank")

//- profile photo
v-col.text-center.text-sm-right(
  cols="12"
  sm="4"
  lg="3"
  :order="$vuetify.display.smAndUp ? 2 : 1")
  v-avatar.elevation-20.mb-5.mb-md-0(
    :image="data.photoUrl"
    :size="$vuetify.display.mdAndUp ? 256 : 128")
</template>
