<script lang="ts" setup>
// properties
defineProps(["data"]);
</script>

<template lang="pug">
section.px-4.py-10.py-md-15(
  v-if="data"
  :id="data.id"
  :class="{ 'bg-background2': data.background, 'elevation-20': data.background }")
  v-row.py-10.py-md-15(justify="center"
    :align="data.id === 'profile' ? 'center' : 'start'"
    dense)

    //- profile content
    VProfile(v-if="data.id === 'profile'" :data="data")

    template(v-else)
      //- section title
      v-col.font-weight-bold(cols="12" sm="2" lg="2") {{ data.title }}
      
      //- section content
      v-col.text-justify(cols="12" sm="8" lg="6")
        
        //- skills
        template(v-if="data.id === 'skills'")
          v-chip.ma-1(
            v-for="(skill, index) in data.skills"
            :key="skill"
            :skills="skill")
            template(v-if="index < 5" #prepend)
              v-icon(icon="mdi-star" color="amber")
            span(:class="{ 'font-weight-bold': index < 5 }") {{ skill }}

        //- certificates
        template(v-else-if="data.id === 'certificates'")
          v-row(justify="center")
            v-col(cols="12" md="6")
              v-timeline(side="end" density="compact" size="x-small")
                v-timeline-item(
                  v-for="(education, index) in data.education"
                  :key="`ed-${index}`")
                  v-alert
                    .text-subtitle-2.font-weight-bold {{ education.title }}
                    .text-subtitle-2 {{ education.company }}
                    .text-subtitle-2 {{ education.country }} - {{ education.date }}

            v-col(cols="12" md="6")
              .d-flex.flex-wrap.justify-center
                a(v-for="(certificate, index) in data.certificates"
                  :key="`cert-${index}`"
                  :href="certificate.url" target="_blank")
                  v-avatar.ma-3(:image="certificate.img" size="128")

        //- projects
        template(v-else-if="data.id === 'projects'")
          p {{ data.description }}

          v-row.mt-3(justify="center")
            v-col.text-subtitle-2.d-flex(
              v-for="(project, index) in data.projects"
              :key="`prj-${index}`"
              cols="12")
              v-alert
                .font-weight-bold {{ project.name }}
                .text-caption.mb-2 {{ project.company }}
                .font-weight-regular {{ project.description }}
                div.mt-1
                  v-chip.font-weight-bold.ma-1(
                    v-for="tecnology in project.tecnologies"
                    color="primary"
                    variant="flat"
                    size="x-small") {{ tecnology }}

        //- others (text only)
        template(v-else)
          p(v-for="(content, index) in data.content"
            :key="`${data.id}-${index}`")
            | {{ content }}
</template>
