<script lang="ts" setup>
import { navOptions } from "~/data";
// utils
const route = useRoute();

// data
const drawer = ref(false);

// methods
function getOptionClass(hash: string) {
  const selected = route.hash === hash;
  return {
    "font-weight-bold": selected,
  };
}
</script>

<template lang="pug">
v-app
  //- navigation bar
  v-app-bar(scroll-behavior="elevate" :flat="drawer" app)
    v-app-bar-nav-icon.font-weight-bold.bg-primary(
      :to="{ path: '/', hash: '#profile' }") LC
    v-spacer

    //- nav options
    template(v-if="$vuetify.display.mdAndUp")
      v-btn.text-none.ml-2(
        v-for="option in navOptions" :key="option.hash"
        :to="{ path: '/', hash: option.hash }"
        :active="route.hash === option.hash"
        :class="getOptionClass(option.hash)"
        variant="text") {{ option.text }}
    template(v-else)
      v-btn.text-none.ml-2(
        variant="text"
        @click="drawer = !drawer"
        :icon="drawer ? 'mdi-close' : 'mdi-menu'")

  //- content area
  v-main#profile
    NuxtPage

  //- footer area
  v-footer
    v-row(justify="center" no-gutters)
      v-col.text-caption.text-md-subtitle-2.text-center.py-3(cols="12")
        | {{ new Date().getFullYear() }} - Coded by 
        span.font-weight-bold Leonardo Campo | @leocmpro

  //- nav drawer panel
  template(v-if="!$vuetify.display.mdAndUp")
    v-navigation-drawer(v-model="drawer" location="end" app)
      v-list(nav)
        v-list-item(
          v-for="option in navOptions" :key="option.hash"
          :to="{ path: '/', hash: option.hash }"
          :active="route.hash === option.hash"
          :class="getOptionClass(option.hash)") {{ option.text }}
</template>
