<script lang="ts" setup>
import { contents } from "~/data";
</script>

<template lang="pug">
v-container.pa-0(fluid)
  //- content sections
  VSection(v-for="section in contents.sections" :key="section.id" :data="section")
</template>
